= render "posts/header"

-# メインコンテンツ表示ゾーン
.main_wrap

-# サインインしていない場合
-# サインインフォーム タブ
.form_signin_wrap
  .form_signin_tab

-# サインアップフォーム タブ
.form_signup_wrap
  .form_signup_tab

.pop-up_lets-signup
  .pop-up_lets-signup_two
    .pop-up_lets-signup_text
      %p
        まずはサインアップしよう！
    .pop-up_lets-signup_arrow_1
      .pop-up_lets-signup_arrow_2
        .pop-up_lets-signup_arrow_3
          = fa_icon 'mouse-pointer', class: 'icon'

-# サインインフォーム 表示
.form_signin_one
  .form_signin_two.hidden
    %h2
      ログイン
    -# %p 登録しているユーザーでログイン
    .form_signup
      -# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = form_for "", url:login_users_path do |f|
        .field
          .field-label
            = f.label :メールアドレス
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label :パスワード
              %br
              %i (英数字6文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .sign_btn
            = f.submit "ログイン"
    -# = render "devise/shared/links"

-# サインアップフォーム
.form_signup_one
  .form_signup_two.hidden
    %h2
      新規登録
    .form_signup
      = form_for "",url: signup_users_path, method: :post do |f|
        .field
          = f.label :お名前
          %br/
          = f.text_field :name, autofocus: true, autocomplete: "name"
        .field
          = f.label :メールアドレス
          %br
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          %br
          %i (英数字6文字以上)
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :パスワードの再入力
          %br
          -# %i 確認の為、パスワードの再入力
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .sign_btn
          = f.submit "新規登録"
      -# = render "devise/shared/links"
.brank_div




= render "posts/footer"