.header_wrap.hide
  .header
    .header_title
      = link_to root_path,data: {"turbolinks":false} do
        %h1 GroupBlog
    .header_groug_name

    -# .hbg
    -#   = check_box "hbg","",class:"hbg_btn",checked:""
    -#   = label "hbg","",class:"hbg_btn"

    .header_nav
      - if user_signed_in?
        .header_nav_upper{class:"#{controller.action_name}"}
          %p.waku.use_name_edit-btn
            = current_user.name
          %p
          |
          = link_to destroy_user_session_path, method: :delete, class: 'logout-btn waku' do
            %p ログアウト
        .header_nav_lower{class:"#{controller.action_name}"}
          %p.waku.header_nav_post 投稿する
          %p.waku.header_nav_group.mk_group_btn グループ作成

      - else
        .header_nav_sign-out
          %p
            ログインしてご利用ください

  - if user_signed_in?
    -# ポップアップにてユーザー名変更
    .user_update-pop_one.hidden
      .user_update-pop
        = form_for "", url: user_path(current_user), method: :patch do |f|
          %p
            name:
          = f.text_field :name, value: "#{current_user.name}", class: "text_field_user_name-edit"
          %p
            profile:
          = f.text_area :profile, value: "#{current_user.profile}", class: "text_field_user_profile-edit"
          = f.submit "変更を保存", id:"user-edit_submit"
        .em_user-edit