= render "posts/header"

.main_wrap
  = form_for @post, method: :patch do |f|
    .edit_content
      .edit_logo
        .edit_logo-after
        %h2
          EDIT
        -# = @post.created_at.strftime("%Y/%m/%d %H:%M")
      .edit_content_upper
        %h3
          = f.text_field :title, value:"#{@post.title}"
        %h4
          = @post.user.name
      .edit_content_lower
        .edit_text
          = f.text_area :content, value:"#{@post.content}"
        -# 画像の編集機能は追って実装
        -# .edit_image
        -#   - if @post.image.present?
        -#     = image_tag @post.image.url

          -# .form_post_image
          -#   = link_to @post, method: :put, params: :remove_image do
          -#     %span
          -#       画像の削除
          -#   %span
    -#           画像のアップロード
    -#         = fa_icon 'picture-o', class: 'icon'
    -#         = f.file_field :image, class: 'hidden'
    - if current_user.id == @post.user_id
      .edit_under_btn
        = f.submit "変更を保存"
        -# = link_to "編集する", edit_post_path, method: :get
        = link_to "戻る", "/posts/#{@post.id}", method: :get

= render "posts/header"