
.header_wrap.hide
  .header
    .header_title
      %h2 TITLE
    .header_groug_name
      -# "#{@group.group_name}"
    .header_nav
      - if user_signed_in?
        .header-right
          %p ||
          %p.header_nav_post 投稿する
          %p ||
          %p.header_nav_group.mk_group_btn グループ作成
          %br
          %p ||
          = current_user.name
          %p さん ようこそ!
          %br
          %p ||
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-btn'
          %p ||
      - else
        サインアウト中
  -# .header_nav_wrap
  -#   .header_nav
  -#     - if user_signed_in?
  -#       %p Post
  -#       %p Group
        -# .nav_post
        -#   .nav_post_brank
        -#   .nav_post_btn
        -#     %p Post
        -#   .nav_post_text
        -#     %p 投稿しよう！

        -# .nav_group
        -#   .nav_group_brank
        -#   .nav_group_btn
        -#     %p Group
        -#   .nav_group_text
        -#     %p グループを作ろう！

      -# - else
        -# %p signin
        -# %p signup
        -# .nav_signin
        -#   .nav_signin_blank
        -#   .nav_signin_btn
        -#     %p Sign in
        -#   .nav_signin_text
        -#     %p 新規登録をしよう！
        -# .nav_signup
        -#   .nav_signup_blank
        -#   .nav_signup_btn
        -#     %p Sign up
        -#   .nav_signup_text
        -#     %p ログインしよう！


-# フラッシュメッセージなど
- if flash[:post_alert]
  %span.alert
  = flash[:post_alert]

-# メインコンテンツ表示ゾーン
.main_wrap

  - if user_signed_in?   # サインインしている場合
    -# 新規投稿フォーム タブ
    .form_post_wrap
      .form_post_tab

    -# 投稿一覧 タブ
    .contents_wrap
      .contents_tab

    -# グループ作成 フォーム

    .form_group_wrap
      .form_group_one
        .form_group_two.hidden
          .form_group_three
            %h2
              新規グループ作成
            = form_for @group, url: groups_path, method: :post do |f|
              .group-name_label
                = f.label :グループ名を入力してください
              .group-name_field
                = f.text_field :group_name, autofocus: true, autocomplete: "グループ名を入力"
              .group-name_label
                = f.label :ユーザを選択してください
              .group-user-sel_field
                = f.collection_check_boxes :user_ids, @namelist, :id, :name
              = f.button 'グループ作成',type: "submit" , class: 'form_group_submit'


    -# 新規投稿フォーム フォーム
    .form_post_one
      .form_post_two.hidden
        %h2 投稿フォーム
        .form_post
          .form_post_form-title
          = form_for @post, url: posts_post_posts_path, method: :post do |f|
            = f.text_field :title, class: 'form_post_title', placeholder: 'タイトル'
            = f.text_area :content, class: 'form_post_content', placeholder: '本文テキスト'
            .form_post_image
              = f.label :image, class: 'form_post_mask_image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            .form_post_submit-btn
              = f.button '投稿する',type: "submit" , class: 'form_post_submit'

    -# グループ・ボタンエリア
    .groups_wrap
      .groups
        = radio_button_tag "groups","all",type:"radio", class:"group_name"
        = label_tag "groups_all", "すべてのグループ"

        - current_user.groups.each do |group|
          =link_to root_path, class: "hoge" do
            .group_radio-btn
              = radio_button_tag "groups","#{group.group_name}",type:"radio", class:"group_name"
              = label_tag "groups_#{group.group_name}", "#{group.group_name}"


    -# 投稿一覧 タイル表示
    .contents_one
      .contents_two.hidden
        .contents_three
          -# - @posts.each do |post|
          -#   .content
          -#     .content_title
          -#       %h3
          -#         -# タイトル:
          -#         = post.title
          -#     .content_name
          -#       %h4
          -#         -# ユーザ名:
          -#         = post.user.name
          -#     .content_text
          -#       %p
          -#         -# 本文:
          -#         %br
          -#         = post.content
          -#       .clear
          -#     .content_image
              -#   = image_tag post.image

  - else          # サインインしていない場合
    -# サインインフォーム タブ
    .form_signin_wrap
      .form_signin_tab

    -# サインアップフォーム タブ
    .form_signup_wrap
      .form_signup_tab

    -# サインインフォーム 表示
    .form_signin_one
      .form_signin_two.hidden
        %h2 Log in
        -# %p 登録しているユーザーでログイン
        .form_signup
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              .field-label
                = f.label :email
              .field-input
                = f.email_field :email, autofocus: true
              .field
                .field-label
                  = f.label :password
                  %br
                  %i (英数字6文字以上)
                .field-input
                  = f.password_field :password, autocomplete: "off"
              .sign_btn
                = f.submit "Log in"
        -# = render "devise/shared/links"


    -# サインアップフォーム
    .form_signup_one
      .form_signup_two.hidden
        %h2 Sign up
        .form_signup
          = form_for "",url: signup_users_path, method: :post do |f|
            .field
              = f.label :name
              %br/
              = f.text_field :name, autofocus: true, autocomplete: "name"
            .field
              = f.label :email
              %br
              %i (英数字6文字以上)
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .field
              = f.label :password
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "new-password"
            .field
              = f.label :password_confirmation
              %br
              %i (確認の為 再入力)
              = f.password_field :password_confirmation, autocomplete: "new-password"
            .sign_btn
              = f.submit "Sign up"
          -# = render "devise/shared/links"
    .brank_div


  .footer
    .upper
      .copyright COPYRIGHT &#xA9; MASATO YAMADA ALL RIGHTS RESERVED.
    -# .lower


-# %button#bbbttt