= render "header"

-# フラッシュメッセージなど
.flash
  -# %span
  -#   グループを作成しました
  - if flash[:group_create]
    .flash_one
      %span.alert
        = flash[:group_create]

  - if flash[:group_delete]
    .flash_one
      %span.alert
        = flash[:group_delete]

  - if flash[:group_create_error]
    .flash_one
      %span.alert
        = flash[:group_create_error]



-# メインコンテンツ表示ゾーン
.main_wrap

  - if user_signed_in?   # サインインしている場合
    -# 新規投稿フォーム タブ
    .form_post_wrap
      .form_post_tab

    -# 投稿一覧 タブ
    .contents_wrap
      .contents_tab
    -# 投稿一覧 タブ
    .group_tab


    -# グループ作成 フォーム
    .form_group_wrap
      .form_group_one
        .form_group_two.hidden
          .form_group_three
            %h2
              新規グループ作成
            = form_for @group, url: groups_path, method: :post do |f|
              %h3
                = f.label :グループ名を入力してください
              .group-name_field
                = f.text_field :group_name, autofocus: true, autocomplete: "グループ名を入力"
              %h3
                = f.label :ユーザを選択してください
              %p
                グループに登録したユーザの投稿を表示します
              .group-user-sel_field
                = f.collection_check_boxes :user_ids, @namelist, :id, :name
              = f.button 'グループ作成',type: "submit" , class: 'form_group_submit'



          -# グループの削除
          .group_edit-delete
            .group_d-area
              %h3
                グループの削除
              %p
                選択したグループを削除します
              .group_edit-delete_btns
                - current_user.groups.each do |group|
                  .group_d-list
                    -# = link_to "#{group.group_name}", "/groups/#{group.id}", method: :delete
                    %div{id:"#{group.id}"}
                      = group.group_name

                    -# = link_to "#{group.group_name}", "#", method: :get
                    -# = link_to "#{group.group_name}"
            -# 削除確認用のモーダル
            .modal_one.hidden
              .modal
                %span
                  このグループを削除してもよろしいですか？
                .modal_btns
                  .modal_n
                    取り消す
                  .modal_d
                    削除する


    -# 新規投稿フォーム フォーム
    .form_post_one
      .form_post_two.hidden
        .form_post_three
          %h2 投稿フォーム
          .form_post
            %h3
              グループの選択
            %p
              投稿するグループを選択してください
            = form_for @post, url: posts_post_posts_path, method: :post do |f|
              .form_post_group-btns
                - current_user.groups.each do |group|
                  = f.radio_button :group_id, :"#{group.id}", class:"form_post_groups-btn"
                  = f.label :"group_id_#{group.id}", "#{group.group_name}"

              .title-content
                %h3
                  投稿するブログのタイトル
                = f.text_field :title, class: 'form_post_title', placeholder: 'タイトル'
                %h3
                  本文テキスト
                = f.text_area :content, class: 'form_post_content', placeholder: '本文テキスト'

              .form_post_image
                = f.label :image, class: 'form_post_mask_image' do
                  %span
                    画像のアップロード
                  = fa_icon 'picture-o', class: 'icon'
                  = f.file_field :image, class: 'hidden'

              .form_post_submit-btn
                = f.button '投稿する',type: "submit" , class: 'form_post_submit'
              = render partial: 'error_messages', locals: {post:@post , column: "group_id"}
              = render partial: 'error_messages', locals: {post: @post, column: "title"}
              = render partial: 'error_messages', locals: {post: @post, column: "content"}



    -# グループ・ボタンエリア
    .groups_wrap
      .groups
        %h3
          グループの表示
        %p
          選択したグループの投稿を表示します

        = radio_button_tag "groups","all",type:"radio", class:"group_name"
        = label_tag "groups_all", "#{current_user.name}の投稿"

        - current_user.groups.each do |group|
          =link_to root_path, class: "hoge" do
            .group_radio-btn
              = radio_button_tag "groups","#{group.group_name}",type:"radio", class:"group_name"
              = label_tag "groups_#{group.group_name}", "#{group.group_name}"




    -# 投稿一覧 タイル表示
    .contents_one
      .contents_two
        -# = image_tag @image.url
        .contents_three

  - else          # サインインしていない場合
    -# サインインフォーム タブ
    .form_signin_wrap
      .form_signin_tab

    -# サインアップフォーム タブ
    .form_signup_wrap
      .form_signup_tab

    .pop-up_lets-signup
      .pop-up_lets-signup_two
        .pop-up_lets-signup_text
          %p
            まずはサインアップしよう！
        .pop-up_lets-signup_arrow_1
          .pop-up_lets-signup_arrow_2
            .pop-up_lets-signup_arrow_3
              = fa_icon 'mouse-pointer', class: 'icon'
    -# サインインフォーム 表示
    .form_signin_one
      .form_signin_two.hidden
        %h2
          ログイン
        -# %p 登録しているユーザーでログイン
        .form_signup
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              .field-label
                = f.label :メールアドレス
              .field-input
                = f.email_field :email, autofocus: true
              .field
                .field-label
                  = f.label :パスワード
                  %br
                  %i (英数字6文字以上)
                .field-input
                  = f.password_field :password, autocomplete: "off"
              .sign_btn
                = f.submit "ログイン"
        -# = render "devise/shared/links"


    -# サインアップフォーム
    .form_signup_one
      .form_signup_two.hidden
        %h2
          新規登録
        .form_signup
          = form_for "",url: signup_users_path, method: :post do |f|
            .field
              = f.label :お名前
              %br/
              = f.text_field :name, autofocus: true, autocomplete: "name"
            .field
              = f.label :メールアドレス
              %br
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .field
              = f.label :パスワード
              %br
              %i (英数字6文字以上)
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "new-password"
            .field
              = f.label :パスワードの再入力
              %br
              -# %i 確認の為、パスワードの再入力
              = f.password_field :password_confirmation, autocomplete: "new-password"
            .sign_btn
              = f.submit "新規登録"
          -# = render "devise/shared/links"
    .brank_div

